@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face
{
font-family:OpenSans-Regular;
src:url(../fonts/OpenSans-Regular.ttf);
}

@font-face
{
font-family:OpenSans-ExtraBold;
src:url(../fonts/OpenSans-ExtraBold.ttf)
}

@font-face
{
font-family:Roboto-Regular;
src:url(../fonts/Roboto-Regular.ttf);
}

@font-face
{
font-family:RockwellRegular;
src:url(../fonts/rock.ttf);
}
body, section{
	margin:0;
	padding:0;
	font-family:'open_sansregular';
	font-size:11px;	
	overflow-x:hidden;
}
section {
	background-size:100% 100%;	
}

*{
	margin: 0px;
	padding:0px auto;
}
#wrapper{
	width:100%;
	margin: 0px auto;
	border: 0px solid #39F;
}
.main_header.anonymos{
	background-image:url(../img/header-bg.jpg);
	background-repeat:no-repeat;
	background-position:bottom center;
	width: 100%;
	height: auto;
	padding: 5px 0px 11px 0px;
}
.main_header.anonymos .logo{
	float:left;
	margin: 0px 5px 0px 10px;
	width: 144px;
	height:45px;
}

.main_header.anonymos .login_btn{
	width: 40%;
	float:right;
	margin: 10px 5px 0px 20px;
	text-align:right;
}
.main_header.anonymos .login_btn img{
	width: 115px;
	height:33px;
}

.header_border{
	border-bottom: 8px solid #b13d00;
	margin-bottom:0px;
}

/*****
LGOIN USING FB CSS
****/

.fb_login_container {
	width: 83%;
	max-width: 360px;
	height: auto;
	box-shadow: 0 0 45px #9fc6ce inset;
	border-radius: 10px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid #e7f0f2;
	border-bottom: none;
	background: #e4e4e4;
	margin: 0px auto;
	padding:20px;
}

.fb_login_container h1{
	font-family:"OpenSans-Regular";
	font-size:30px;
	color:#f15500;
	margin: 1% 0% 3% 3%;
	}
	
.fb_login_container p{
	font-family:"OpenSans-Regular";
	font-size:14px;
	color:#666;
	margin-left: 3%;
	}

.text_field{
	width: 90%;
	margin: 5px auto 2px 3%;
	border-radius: 3px;
	border: 1px solid #c5c5c5;
	height: 20px;
	padding: 5px;
}

.fb_banner{
	width: 90%;
	padding:0 5px;
	background-image:url(../img/fab_banner.png);
	background-repeat:no-repeat;
	background-position: 5px center;
	font-family:"OpenSans-Regular";
	color:#fff;
	font-size:19px;
	height:41px;
	line-height:41px;
	margin: 0px auto;
	background-color:#3b5c94;
	border: 1px solid #3b5c94;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	text-align:center;
	margin-left:-1px;
	margin-top: 10px;
	cursor:pointer;
	}





/***
Header After Login
***/
.main_header{
	background-color:#f56d01;
	background-image:url(../img/header-bg.jpg);
	background-repeat:no-repeat;
	background-position:bottom center;
	width: 100%;
	height: auto;
	padding: 5px 0px 10px 0px;
}
.main_header .nlogo{
	float:left;
	margin: 6px 3px 0px 25px;
	width: 38px;
	height:37px;
}

.main_header .code_btn{
	float:right;
	margin: 8px 20px 0px 0px;
	width: 66px;
	height:38px;
}

.main_header .offer_btn{
	float:right;
	margin: 13px 20px 0px 0px;
	width: 66px;
	height:27px;
}

.main_header .settings_btn{
	float:right;
	margin: 8px 25px 0px 0px;
	width: 41px;
	height:41px;
}

.main_header .login_btn{
	width: 40%;
	float:right;
	margin: 5% 2% 0% 2%;
	text-align:right;
}
.main_header .login_btn img{
	width: 90%;
	height:auto;
}

.header_border{
	border-bottom: 8px solid #b13d00;
	margin-bottom:0px;
}

/****
Forgot Password CSS
****/
.forget_password_container{
	width:100%;
	height: auto;
	min-height: 350px;
	background-image:url(../img/bg.jpg);
	background-position: center center;
	background-repeat:no-repeat;
	margin-top:0%;
	padding-top:50px;
	padding-bottom:20px;
}


.forget_password_box{
    background: none repeat scroll 0 0 #E4E4E4;
    border: 1px solid #E7F0F2;
    border-radius: 10px;
    box-shadow: 0 0 45px #9FC6CE inset;
    height: auto;
    margin: 0 auto;
    max-width: 360px;
    padding: 30px 20px 40px 40px;
    width: 80%;}

.forget_password_box header{
	font-family: "OpenSans-Regular";
	font-size:22px;
	color: #f25900;
	margin-bottom: 8px;
}

.text_field{
	width: 75%;
	margin: 3px auto 3px auto;
	border-radius: 3px;
	border: 1px solid #c5c5c5;
	height: 20px;
	padding: 5px;
}

.submit_sub {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
	padding:4px 25px;
	background-color:#f25900;
	font-size:20px;
	color:#FFF;
	font-family: 'RockwellRegular';
	text-transform:uppercase;
	border:none;
	border-radius:5px;
	margin:6px auto 0px auto;
	cursor:pointer;
}

	
/****
MAIN CONTAINER CSS
****/	

.main_container{
	width:100%;
	min-height: auto;
	background-image:url(../img/bg.jpg);
	background-position: center center;
	background-repeat:no-repeat;
	margin-top:0%;
	padding-top:50px;
	padding-bottom:50px;
	background-size: 100% 100%;
}

.main_container .element_holder{
	width:320px;
	margin:0px auto 0px auto;
}

.main_container .element_holder .cover_image{
	width: 50%;
	max-width: 200px;
	float: left;
	margin: 0px 0px 0px 5%;
	text-align: center;
	height: auto;
}

.main_container .element_holder .cover_image img{
	width:150px;
	height:282px;
}

.main_container .element_holder .welcome_text{
	width: 40%;
	float:right;
	margin-top: 0px;
	text-align:center;
	margin-right:5%;
}

.main_container .element_holder .welcome_text .register_btn{
	width: 100%;
	max-width: 160px;
	height:auto;
	margin-top: 50px;
}

.main_container .element_holder .welcome_text .learnmore_btn{
	width: 100%;
	max-width: 500px;
	height:auto;
	margin-top: 20px;
}

.main_container .element_holder .welcome_text p{
	font-size:120%;
	font-family:"Roboto-Regular";
	color:#FFF;
	margin-top:15px;
	margin-bottom:8px;
	text-shadow: 1px 1px #333;
	}
	
/****
LOGIN CONTAINER CSS
****/
.registration_msg_box{
	background-image:url(../img/registration_msg.png);
	background-repeat:no-repeat;
	width: 275px;
	height: 113px;
	margin: 30px auto 20px auto;
	font-family: "OpenSans-Regular";
	font-size:14px;
	padding: 15px;
	text-align:center;	
}

	
.login_main_container{
	width:100%;
	height: auto;
	background-image:url(../img/bg.jpg);
	background-position: center center;
	background-repeat:no-repeat;
	margin-top:0%;
	padding-top:50px;
	padding-bottom:20px;
	background-size:100% 100%;
	min-height:350px;
}


.login_container {
	width:80%;
	max-width: 360px;
	height:auto;
	box-shadow: 0 0 45px #9fc6ce inset;
	border-radius:10px;
	border:1px solid #e7f0f2;
	background:#e4e4e4;
	margin: 0px auto;
	padding:30px 20px 40px 40px;
}

.logout_action_container {
	width:80%;
	max-width: 360px;
	height:auto;
	box-shadow: 0 0 45px #9fc6ce inset;
	border-radius:10px;
	border:1px solid #e7f0f2;
	background:#e4e4e4;
	margin: 0px auto;
	display:table;
	position:relative;
	padding:120px 30px;
} 
.logout_action_container div{
    display: table-cell;
    height: auto;
    left: 10%;
    position: absolute;
    top: 5%;
    width: 80%;
	text-align:center;
	font-size:16px;
}

.login_container h1{
	font-family:"OpenSans-Regular";
	font-size:30px;
	color:#f15500;
	margin: 1% 0% 3% 0%;
	}
	
.login_container p{
	font-family:"OpenSans-Regular";
	font-size:14px;
	color:#666;
	}

.text_field{
	width: 90%;
	margin: 5px auto 2px auto;
	border-radius: 3px;
	border: 1px solid #c5c5c5;
	height: 20px;
	padding: 5px;
}

.login_sub {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
	padding:4px 25px;
	background-color:#f25900;
	font-size:20px;
	color:#FFF;
	font-family: 'RockwellRegular';
	text-transform:uppercase;
	border:none;
	border-radius:5px;
	margin:15px 0 0 0;
	cursor:pointer;
}

.resend_sub {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
	padding:4px 20px;
	background-color:#f25900;
	font-size:18px;
	color:#FFF;
	font-family: 'RockwellRegular';
	text-transform:;
	border:none;
	border-radius:5px;
	margin:25px 0 0 0;
	cursor:pointer;
	width:265px;
	text-align: center;
}

.forget {
	font-family:"OpenSans-Regular";
	color:#d34e01;
	font-size:12px;
	float:right;
	text-transform:uppercase;
	text-decoration:none;
	margin: 6% 5% 0% 0%;
}
.back {
	width:85px;
	height:28px;
	float:right;
	margin:10px 30px 0 0;
}	
	
	
	
/****
COUPON HOLDER CSS
****/	
.logout_action_main_container {
	width:100%;
	min-height: auto;
	background-image:url(../img/bg.jpg);
	background-position: center center;
	background-repeat:no-repeat;
	margin-top:0%;
	padding-top:50px;
	padding-bottom:20px;
}
.coupon_holder{
	margin: 0px auto 0px auto;
	width: 80%;
	max-width: 350px;
	height: auto;
	background: #fff;
	-moz-box-shadow: -2px 2px 4px #a9a9a9;
	-webkit-box-shadow: -2px 2px 4px #a9a9a9;
	box-shadow: -2px 2px 4px #a9a9a9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#444444')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#444444');
	padding-bottom:1%;
	min-height:300px;	
}
.coupon_holder header{
	background: #ff6d00;
	-moz-box-shadow: 0px 1px 2px #a9a9a9;
	-webkit-box-shadow: 0px 1px 2px #a9a9a9;
	box-shadow: 0px 1px 2px #a9a9a9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
	height:46px;
	padding-top: 6px;
	text-align:center;
	color:#fff;
	font-family:"OpenSans-Regular";
	font-size:28px;
	margin-bottom: 10px;
	
}
.coupon_container{
	width:40%;
	height: auto;
	margin-top: 4px;
	margin-bottom: 2px;
	margin-left: 6.5%;
	margin-right: 5px;
	float:left;	
}

.coupon_container img{
	width: 95%;
	height: auto;
}

.back {
	width:85px;
	height:28px;
	float:left;
	margin:10px 0 0 30px;
}

.see_all{
	width:85px;
	height:28px;
	float:right;
	margin:10px 30px 0 0;
}

/****
DASH BOARD CSS
****/	
	
.dashboard_main_container{
	width:100%;
	min-height: auto;
	background-image:url(../img/bg.jpg);
	background-position: center center;
	background-repeat:no-repeat;
	margin-top:0%;
	padding:20px 0;
	background-size:100% 100%;
	/*padding-top:6%;
	padding-bottom:5%;*/
}


.search4 {
	width:209px;
	height:38px;
	border:none;
	color:#FFF;
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
}

.s1 {
	background-color: #30A0BF;
	clear: both;
	height: 64px;
	padding: 22px 8px;
	width: 300px;
	margin: 0 auto 20px auto;
	border:1px solid #278099;
}	

.input_text_out1 {
	font-size:12px;
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	width:210px;
	line-height:40px;
	float:left;
}
.input_text1 {
	font-size:12px;
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	width:165px;
	line-height:40px;
	float:left;
}			

.button-search {
	width:40px;
	height:40px;
	float:left;
	margin:5px 0;
}		

.button-search-1 {
	width:40px;
	height:40px;
	float:left;
	/*margin:5px 0;*/
	background:url(../img/serch-right-but.png) no-repeat 0 0;
	border:none;
	cursor:pointer;
}

.input1 {
	background-position: right center;
	border: medium none;
	border-radius: 25px;
	color: #999999;
	height: 45px;
	padding: 3px;
	width: 205px;
	outline:none;
}	

.view_coupons_btn{
	margin-left:auto; 
	margin-right:auto; 
	display:block; 
	margin-top:15px;
}

.view_profile_page_btn{
	margin-left:auto; 
	margin-right:auto; 
	display:block; 
	margin-top:15px;
}

.countdown_container{
	width: 300px;
	height: auto;
	border : #f4e9d7 solid 5px;
	margin: 30px auto 10px auto;
	border-radius: 3px;
}

.dashboard_countdown_container{
	width: 300px;
	height: auto;
	border : #f4e9d7 solid 5px;
	margin: 30px auto 10px auto;
	border-radius: 3px;
}

.countdown_box{
	width: 296px;
	height: auto;
	border: 2px solid #1c7792;
	background: #fff;
	text-align:center;
}

.dashboard_countdown_box{
	width: 296px;
	height: auto;
	border: 2px solid #1c7792;
	background: #fff;
	text-align:center;
	padding-bottom: 5%;	
}

.countdown_subtitle{
	font-family: "OpenSans-ExtraBold";
	font-size: 26px;
	color: #4aa6bd;	
}

.countdown_title{
	font-family: "OpenSans-ExtraBold";
	font-size: 38px;
	color: #4aa6bd;
	margin-top: -10px;
}

.countdown_timer{
	background-image:url(../img/timer_bg.png);
	width: 284px;
	height: 78px;
	margin: 5px auto 0 auto;
}

.countdown_timer ul{
	list-style:none;
	font-size:36px;
	margin-left:-30px;
	color:#fff;
}

.countdown_timer ul li{
	float:left;
	margin: 6px;
	margin-bottom:0px;
}

.timer_labels{
	margin-top:0px;
}

.timer_labels ul{
	list-style:none;
	font-size:14px;
	margin-left:-40px;
	color:#fff;
}

.timer_labels ul li{
	float:left;
	margin-right: 26px;
	margin-left: 20px;
	margin-top:0px;
}

.local_winners{
	color: #f46c00;
	border-top: 1px solid #cfc2ae;
	border-bottom: 1px solid #cfc2ae;
	padding: 8px 0 8px 0;
	font-family: "OpenSans-ExtraBold";
	font-size: 19px;
	margin-top: 8px;
	margin-left: 5px;
	margin-right: 5px;
}

.winner_info{
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;	
	font-family:"OpenSans-Regular";
}

.profile_pic{
	float:left;
}

.winner_detail{
	float:left;
	margin-left: 10px;
	margin-right: 0px;
	text-align:left;
	width: 71%;
	margin-bottom: 20px;
}

.winner_name{
	color:#338498;
	font-size: 18px;
	font-weight:bold;
}
.cash_details{
	color:#2d2d2d;
	font-size: 18px;
}
.winner_company_name{
	color:#ff6900;
	font-size: 18px;
	font-weight:700;
}



/****
EDIT PROFILE CONTAINER CSS
****/	

.edit_profile_container{
	font-family: "OpenSans-Regular";
	width: 290px;
	height: 370px;
	margin: 0px auto;
	background-image:url(../img/edit_profile_bg.png);
	background-repeat:no-repeat;
	padding: 5px;
	text-align:center;
	margin-bottom:20px;
}

.logout_action_container2{
	font-family: "OpenSans-Regular";
	width: 290px;
	height: 300px;
	max-width: 300px;
	margin: 0px auto;
	background-image:url(../img/logout_action_bg.png);
	background-repeat:no-repeat;
	padding: 5px;
	text-align:center;
	margin-bottom:20px;
}

.logout_msg_box{
	background-image:url(../img/logout_msg.png);
	background-repeat:no-repeat;
	width: 245px;
	height: 83px;
	margin: 30px auto 0px auto;
	font-family: "OpenSans-Regular";
	font-size:18px;
	padding: 30px;
	text-align:center;	
}

.top_close_btn{
	float:right;
}

.edit_profile_container .text_field{
	width:70%;	
}

.edit_profile_container header{
	color: #f35901;
	font-size: 18px;
	margin-top: 30px;
	font-weight: 800;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}
.text_field{
	width: 217px;
	margin: 5px auto 2px auto;
	border-radius: 3px;
	border: 1px solid #c5c5c5;
	height: 20px;
	padding: 5px;
}

.edit_profile_container hr{
	width: 227px;
	background: #c5c5c5;
	border: 1px solid #c5c5c5;
	margin: 5px auto 5px auto;
}

.profile_pic_display{
	width: 75px;
	height: 75px;
	margin: 10px auto 10px auto;
}

.update_btn{
	float:left;
	margin-left: 55px;
	margin-top:5px;
	cursor:pointer;
}
.close_btn{
	float:right;
	margin-right: 55px;
	margin-top: 5px;
}

.reset_password{
	float:left;
	color: #f35901;
	font-size:12px;
	margin-left: 50px;
	margin-top: 15px;
}

.seperator{
	float:left;
	margin-left: 5px;
	margin-top: 15px;
}

.delete_account{
	float:left;
	color: #f35901;
	font-size:12px;
	margin-left: 5px;
	margin-top: 15px;
}


/****
PRINT COUPON CONTAINER CSS
****/	
	
.print_coupon-content {
	height: auto;
	background-image: url(../images/bg1.png);
	background-repeat: repeat-x;
	width: 90%;
	max-width: 390px;
	margin: 0px auto;
	overflow: auto;
	padding: 5%
}

.enlarge_coupon{width:100%;
				height:auto;
				margin:0px auto 0px auto;
				}
.enlarge_coupon img {
	width:100%;
	height:auto;
	}
	
.back_btn{
	float:left;
	margin-left: 3%;
	margin-top: 6%;
}

.print_btn{
	float:right;
	margin-right: 3%;
	margin-top: 6%;
}
	
/****
PROFILE PAGE CONTAINER CSS
****/	
.profile-container {
	width: 88%;
	max-width: 400px;
	height: auto;
	min-height: 370px;
	background-color: #8fd7e0;
	border: 1px solid #ccc;
	box-shadow: 1px 0 1px 1px #CCCCCC;
	margin-right: auto;
	margin-left:auto;
	padding: 5px;
}

.profile-content {
	width: 99%;
	height: auto;
	margin: 0px auto;
	min-height: 365px;
	background-color: #f4e9d7;
	border: 2px solid #278099;
}

.profile-content-top {
	border-bottom: 2px solid #278099;
	height: auto;
	padding: 2% 2% 1% 2%;
	text-align: left;
	width: 96%;
	margin-bottom: 1%;	
}
.profile-content-top .profile_name{
	float: left;
	width: 60%;
	font-size: 24px;
	font-weight: bold;
	color: #196276;
	margin-top: 10px;
	margin-left: 10px;
}

.profile_page_pic_display{
	float: left;
	width: 75px;
	height: 75px;
	margin: 0px 3px 3px 3px;
}

.edit_profile_btn{
	color:#196276;
	font-size: 14px;
	font-family:"OpenSans-Regular";
	float: left;
	width: 60%;
	margin-top: 10px;
	margin-left: 10px;
	}

.profile-content-bottom {
	height: auto;
	background-image: url(../images/bg1.png);
	background-repeat: repeat-x;
	width: 94%;
	overflow: auto;
	padding: 3%;
}

.profile-content-bottom img { 
	margin: 0px auto;
	width: 100%;
	height:auto;
	}

.profile-content-bottom header{
	background:#e8ddca;
	color:#b03c00;
	font-size: 24px;
	font-family:"OpenSans-Regular";
	padding: 5px;
	border-radius: 3px;
}

.profile-content-bottom ul{ 
	list-style:none; 
	margin-left: -40px; 
	}

.profile-content-bottom ul li{ 
	font-size: 16px;
	font-family:"OpenSans-Regular";
	padding: 5px; 
	border-bottom: 1px solid #c4c4c4; 
	list-style-position:inside;
	}

/***
REGISTRATION CONTAINER CSS
***/	

.registration_main_container{
	width:100%;
	height: auto;
	background-image:url(../img/bg.jpg);
	background-position: center center;
	background-repeat:no-repeat;
	margin-top:0%;
	padding-top:50px;
	padding-bottom:30px;
	background-size:100% 100%;
}


.registration_container {
	width:80%;
	max-width: 360px;
	height:auto;
	box-shadow: 0 0 45px #9fc6ce inset;
	border-radius:10px;
	border:1px solid #e7f0f2;
	background:#e4e4e4;
	margin: 0px auto;
	font-family:"OpenSans-Regular";
	font-size:12px;
	padding:20px 20px 20px 40px;
	
}

.registration_container h1{
	font-family:"OpenSans-Regular";
	font-size:30px;
	color:#f15500;
	margin: 1% 0% 3% 0%;
	}
	
.now {
	font-family: 'Roboto-Regular';
	color:#545454;
	font-size:12px;
	text-transform:capitalize;
}

.text_field{
	width: 90%;
	margin: 5px auto 2px auto;
	border-radius: 3px;
	border: 1px solid #c5c5c5;
	height: 20px;
	padding: 5px;
}

.registration_sub {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
	padding:4px 25px;
	background-color:#f25900;
	font-size:20px;
	color:#FFF;
	font-family: 'RockwellRegular';
	text-transform:uppercase;
	border:none;
	border-radius:5px;
	margin:25px 0px 0px 65px;
	cursor:pointer;
}
.forget {
	font-family:"OpenSans-Regular";
	color:#d34e01;
	font-size:12px;
	float:right;
	text-transform:uppercase;
	text-decoration:none;
	margin: 5% 5% 0% 0%;
}
.back {
	width:85px;
	height:28px;
	float:right;
	margin:10px 30px 0 0;
}
	
/***
VIEW COUPONS CONTAINER CSS
***/	
.coupon-container .log-left-container {
	width: 88%;
	max-width: 400px;
	height: auto;
	min-height: 370px;
	background-color: #8fd7e0;
	border: 1px solid #ccc;
	box-shadow: 1px 0 1px 1px #CCCCCC;
	margin-right: auto;
	margin-left:auto;
	padding: 5px;
}

.coupon-container .log-left-content {
	width: 99%;
	height: auto;
	margin: 0px auto;
	min-height: 365px;
	background-color: #f4e9d7;
	border: 2px solid #278099;
}

.coupon-container .log-left-content-top {
	border-bottom: 2px solid #278099;
	height: auto;
	padding: 2% 2% 1% 2%;
	text-align: left;
	width: 96%;
	margin-bottom: 1%;	
}
.coupon-container .log-left-content-top header{
	float:left;
	width: 60%;
	font-size:24px;
	font-weight:bold;
	color:#196276;
	margin-top: 1%;
}

.coupon-container .close_btn{
	float:right;
	margin-top: 1%;
	}

.coupon-container.log-left-content-bottom {
	height: auto;
	background-image: url(../images/bg1.png);
	background-repeat: repeat-x;
	width: 100%;
	overflow: auto;
}

.coupon-container .coupon_list{
	width:100%;
	height:28px;
	margin: 5px auto 5px auto;
}

.coupon-container .coupon_list_name{
	width: 33%;
	height:18px;
	padding-top:10px;
	text-align:left;
	float:left;
	padding-left:2%;
	}

.coupon-container .coupon_list_number{
	width: 4%;
	height:18px;
	padding-top:10px;
	text-align:left;
	float:left;
	}
	
.coupon-container .coupon_list_type{
	width: 16%;
	height:18px;
	padding-top:10px;
	text-align:left;
	float:left;
	margin-left:5%;
	}
	
.coupon-container .view_coupons_btn{	
	float:right;
	margin-right:1%;
	margin-top: 5px;
}
/***
VIEW LARGE COUPONS CONTAINER CSS
***/	

.enlarge_coupon-container {
	width: 88%;
	max-width: 400px;
	height: auto;
	background-color: #8fd7e0;
	border: 1px solid #ccc;
	box-shadow: 1px 0 1px 1px #CCCCCC;
	margin-right: auto;
	margin-left:auto;
	padding: 5px;
}

.enlarge_coupon-content {
	width: 99%;
	height: auto;
	margin: 0px auto;
	background-color: #f4e9d7;
	border: 2px solid #278099;
}

.enlarge_coupon-content-bottom {
	height: auto;
	background-image: url(../images/bg1.png);
	background-repeat: repeat-x;
	width: 90%;
	overflow: auto;
	padding: 5%
}

.enlarge_coupon{width:100%;
				height:auto;
				margin:0px auto 0px auto;
				}
.enlarge_coupon img {
	width:100%;
	height:auto;
	}
	
.used_coupon_btn{
	float:left;
	margin-left: 3%;
	margin-top: 6%;
}

.print_btn{
	float:right;
	margin-right: 3%;
	margin-top: 6%;
}
	
/***
FOOTER CONTAINER CSS
***/	
	
	
.top_footer{
	width: 100%;
	height:auto;
	background:#000;
	text-align:center;
	color:#FFF;
	padding: 8px 0% 8px 0%;
	}
	
.top_footer h3{
	font-size:18px;
	font-family:"Roboto-Regular";
	color:#FFF;
}
.top_footer p{
	font-size:14px;
	font-family:"OpenSans-Regular";
	}
	
	.yellow_font{
		color:#FC0;
		}
footer{
	font-family:"OpenSans-Regular";
	width: 100%;
	height:auto;
	border-top: 5px solid #b13d00;
	background:#f36d00;
	text-align:center;
	color:#FFF;
	font-size:12px;
	padding: 8px 0% 8px 0%;
}

footer .patent_pending{
width: 30%;
        float:left;
margin-top: 5px;
margin-left: 25px;
}

.social_icons{
        width: 50%;
text-align: right;
        float:right;
	padding-top:5px;
	padding-right: 5px;
margin-right: 30px;
}


/****
IMAGE CSS
***/
img {
	max-width:100%;
	max-height:100%;
	margin:auto;
	border:none;	
}

/***
Validation
***/
.field-component{
	postion:relative;
}
div.error{
	left:0 !important;
	top:0 !important;
	color:#C00 !important;	
	width:100%;
	position:static !important;
}
.forget_password_box .error{
	width:90%;
}

.search4 #Search {
	height:44px !important;	
}
.search4 .error{
	width:254px;
	height:30px;
	line-height:30px;
}
.input-field{
	float:left;
	clear:both;
	widows:100%;	
}


#business_like_button {
    height: auto;
    padding-top: 20px 0;
    width: 320px;
	margin:auto;
}	

#already_liked_page {
	left: 62px;
    position: absolute;
    top: 50px;
}

#already_liked_on_facebook {
	left: 62px;
    position: absolute;
    top: 50px;
}

/***
Bubble CSS
***/
.popup-outer{
	position:absolute; height:100%; width:100%; top:0; left:0; z-index:auto; display:none;
}
.popup-bg{
	position:absolute; display:table; width:100%; height:100%; left:0; top:0; z-index:1; background:#000; opacity:0.7;
}
.popup-container{
	position:absolute; display:table; width:100%; height:auto; left:0; top:0; z-index:2;
}
.bubble_container{
	width: 30%;
	height:auto;
	margin:20% auto 0% auto;
	background: #fff;
	border: #f47500 solid 4px;
	border-radius: 5px;
	font-size: 15px;
	font-weight:800;
	text-align:center;
}

.bubble_container img{
	float:left;
}

.bubble_container p{
	text-align:left;
	margin: 2% 2% 10% 3%;
}


.nexzest_like_img{
	width: 320px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.logout_resend_sub{
	width: 212px;
	height: 60px;
	background-image:url(../img/resend_link.png);
	text-align:center;
	border:none;
	margin-bottom:15px;
}

@media (min-width: 321px) and (max-width: 768px){
	.bubble_container{
	width: 90%;
	height:auto;
	margin:40% auto 0% auto;
	font-size: 15px;
	font-weight:800;
}
}

@media (min-width: 150px) and (max-width: 320px){
	.bubble_container{
	width: 95%;
	height:auto;
	margin:60% auto 0% auto;
	font-size: 12px;
	font-weight:800;
}
}

